@model H2017_PW_Equipe6.Models.Club

@{
    ViewBag.Title = "Le club";
}



<div class="container">
    <h2>Le club @Model.nom</h2>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Description du club</h3>
        </div>
        <div class="panel-body">
            <p>@Model.description</p>
        </div>
    </div>
</div>